#about {
  position: relative;
  height: 100vh;
  width: 100%;
}

#about h2 {
  padding: 35px 150px;
}

.about-text {
  font-family: 'Muli', serif;
  font-size: .8em;
  margin: 10px 0;
  position: absolute;
  top: 35%;
  left: 150px;
  right: 300px;
}

@media only screen and (max-width: 770px) {
  #about h2 {
    padding: 8% 5%;
  }

  .about-text {
    font-family: 'Muli', serif;
    font-size: .8em;
    margin: 2% 0;
    position: absolute;
    top: 35%;
    left: 5%;
    right: 40%;
  }
}

.about-text a {
  color: #FF00FF;
}

.resume {
  z-index: 1;
}

.family {
  opacity: 0.65;
  filter: alpha(opacity=65);
  position: absolute;
  right: 0;
  bottom: 12%;
  top: 8%;
  width: auto;
  height: 80%;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.footer-text {
  margin-left: 30px;
}

.hr-bottom {
  margin: 0px -20px 20px -20px;
  width: 130%;
  border: 0;
  border-top: 1px solid #c9c7c7;
}
