#home {
  min-height: 100vh;
  height: 100vh;
  padding: 1px;
}

.intro {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  color: #222;
  padding-left: 10px;
  margin: 0px;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

@media only screen and (max-width: 2000px) {
  #home .logo {
    position: relative;
    padding-top: 80px;
    padding-left: 5px;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
  }
}

@media only screen and (max-width: 770px) {
  #home .logo {
    position: relative;
    width: 30%;
    height: auto;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
  }
}
